/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap%27');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/sfondo.png)1;
}

/* HEADER */
header img{
    width: 13%;
}

header{
    font-weight: bold;
    font-size: larger;
    text-align: center; 
    color: white; 
    background: rgb(11,21,135);
    background: linear-gradient(180deg, rgba(11,21,135,1) 0%, rgba(69,69,176,1) 80%);
    padding: 10px 0;
    box-shadow: 0px 4px 19px -4px #000000;
    margin: 10px;
}
 header nav ul{
    list-style-type:none; 
 }

 header nav ul a{
    list-style-type:none; text-decoration: none; color: white;
 }
/* MAIN */
h1{
    font-weight:550;
}

/*CONTAINER*/

#container{
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 19px -4px #000000;
}

/* ELEMENTI NEL MAIN - ARTICLE */
#MarioRossi{
    color: grey;
}

.viola{
    color: fuchsia;
}

.grigio{
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 10px;
}

/* TABELLE */
.tabella {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabella thead tr {
    background-color: blue;
    color: #ffffff;
    text-align: center
}

.tabella th,
.tabella td {
    padding: 12px 15px;
}

.tabella tbody tr {
    border-bottom: 1px solid #dddddd; 
}

.tabella tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabella tbody tr:last-of-type {
    border-bottom: 2px solid blue;
}

.tabella tbody tr.riga-orizzontale {
    color: black;
    text-align: center;
}

table caption{
    font-size: 1.3em;
    font-weight: bold;
}

.youtube{
    margin:0 auto;
    padding:0;
    display:inline-block;
    overflow:hidden;
    border-radius:40px;
}
/* FORM */
#box {
    width: 300px;
    border: 15px solid grey;
    padding: 20px;
    background-color: rgb(161, 160, 160);}

/* ELEMENTI NELL' ASIDE */

aside h2{
    text-align: center;
}

.list{
    padding: 10px;
    background-color: rgb(241 241 241);
    border: 1px solid gray;
    margin-bottom: 20px;
}

.list a{
    text-decoration: none;
    color:skyblue
}

.list:last-child{
    text-align: right;
}

.list p:not(:last-child){
    margin: 0;
}

/* FOOTER */

footer{
    padding: 10px 0;
    box-shadow: 0px 4px 19px -4px #000000;
    margin: 10px;
    color:white;
    background: rgb(7,14,102);
    background: linear-gradient(180deg, rgba(7,14,102,1) 0%, rgba(3,4,57,1) 79%);
    text-align: center;
}

footer a{
    color:rgb(248, 20, 248);
    font-weight: bold;
}

