body {
  color: #742305;
}

.productCard {
  border: 1px black;
  background-color: #fbf7e3;
  height: 350px;
  width: 350px;
  margin: 20px 10px;
  padding-bottom: 20px;
  border-radius: 60px;
  overflow: hidden;
}

.productCard img {
  width: 100%;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  font-size: 20px;
}

.productCard button {
  background-color: #f3df85;
  border-radius: 20px;
  font-size: 15px;
}

.buttonCard {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-top: -5%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  height: 250px;
  background-color: rgb(235, 219, 197);
  border-radius: 80px;
  align-items: center;
  padding: 20px;
}

button {
  border: none;
  background-color: burlywood;
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  flex-grow: 1;
  width: 40%;
  color: brown;
  margin: 5px;
}

.btngrande {
  display: flex;
  flex-grow: 2;
  height: 60px;
  height: 100px;
  width: 80%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.btngrande img {
  width: 50px;
  height: 50px;
}

.flexibleArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px black;
  background-color: #fbf7e3;
  width: 80%;
  height: 500px;
  margin: 20px;
  padding: 20px 10px;
  border-radius: 60px;
  overflow: hidden;
  color: brown;
  font-size: 15px;
}

.flexibleArticle img {
  width: 300px;
  height: auto;
}

h1,
h2 {
  text-align: center;
}
