body {
  color: #742305;
}

.productCard {
  border: 1px black;
  background-color: #fbf7e3;
  height: 350px;
  width: 350px;
  margin: 20px 10px;
  padding-bottom: 20px;
  border-radius: 60px;
  overflow: hidden;
}

.productCard img {
  width: 100%;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  font-size: 20px;
}

.productCard button {
  background-color: #f3df85;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  font-size: 15px;
}

.buttonCard {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0.5em;
  border: 1px solid #742305;
  padding: 10px 30px;
  border-radius: 20px;
  width: 90px;
  text-align: center;
}

nav {
  background-color: #fbf7e3;
  padding: 1em;
  height: 300px;
}

.btnNav {
  flex-grow: 1;
}

.btnBig {
  flex-grow: 5;
}

.flexibleArticle {
  border: 1px black;
  background-color: #fbf7e3;
  width: 80%;
  height: 600px;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 60px;
  overflow: hidden;
  color: brown;
  font-size: 15px;
}

.flexibleArticle img {
  width: 300px;
  height: auto;
}
