@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
}

header {
    background-color: black;
    padding: 20px;
    text-align: left;
}

header img {
    width: 150px;
}

#Titolo {
    background-image: url(../images/banner.jpg);
    padding: 100px 200px;
    background-size: cover;
}

#partiamo a {
    background-color: #f04c2f;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 20px;
}

#PrimaSequenza {
    border: 1px white;
    width: 90%;
    margin: 40px;
    padding: 20px;
}

#Primogruppo {
    font-size: small;
    text-align: left;
    display: inline-block;
    width: 48%;
}

#imgPS {
    display: inline-block;
    width: 50%;
}

#imgPS img {
    border-radius: 50%;
    width: 300px;
}

#BloccoArancione {
    background-color: #e22d0e;
    color: white;
    padding: 20px;
    margin-bottom: 60px;
}

#BloccoArancione h2 {
    color: white;
}

#BloccoArancione p {
    font-size: medium;
}

.istruzioni {
    width: 25%;
    height: 100%;
    margin: 0px 10px 60px 10px;
    padding: 0 0 10px 0;
    border: 1px solid #dee1e3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: margin 20px;
    display: inline-block;
    font-size: small;
}

.istruzioni img {
    width: 100%;
}

footer {
    background-color: #25a2c3;
    color: white;
    padding: 20px;
    font-size: medium;
    text-align: left;
}

#TestoFooter {
    margin: 0 40%;
}

footer h2 {
    color: white;
}

footer a {
    color: white;
}