body{
    text-align: center;
}

.container{
    background: #70e0f4;
    padding: 30px;   
    display: flex;
    flex-direction: column;
}
.container h3{
    color: white;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
}