.buttonProfile {
  background-color: transparent;
  color: lightgray;
  border: 1px solid lightgray;
  width: 10rem;
  padding: 10px 0;
}

h3 {
  font-size: 60px;
}

footer a {
  margin-right: 20px;
}

.film:hover {
  transform: rotate(0deg) scale(1.2, 1.2);
}

.film {
  transition: transform 1s;
}
